<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="biz.bokhorst.xprivacy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="XPrivacy" />

        <provider
            android:name=".XPrivacyProvider"
            android:authorities="biz.bokhorst.xprivacy.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="true"
            android:syncable="false" >
        </provider>
    </application>

</manifest>